/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
/*



/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*/
 /*!!!!!!!!!!!!!!!!!!!!!!!!!!제일 네번째로 작은 화면(큰화면)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.wrapper {
  width: 940px;
}
/* CAROUSEL Default ----------------------------------------------------*/
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

 /*!!!!!!!!!!!!!!!!!!!!!!!!!!제일 세번째로 작은 화면(두번째로 큰 화면)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* GENERAL TABLET ----------------------------------------------------*/.wrapper {
      width: 712px;
    }
    /* NAV TABLET ----------------------------------------------------*/#nav {
      display: block;
    }
    /* SLIDER TABLET ----------------------------------------------------*/.lof-slidecontent,
    .main-slider-content {
      width: 712px;
      height: 367px;
    }
    .lof-slidecontent .sliders-wrapper,
    .main-slider-content .sliders-wrapper {
      width: 712px;
    }
    .lof-slidecontent .navigator-content .button-next,
    .main-slider-content .navigator-content .button-next,
    .lof-slidecontent .navigator-content .button-previous,
    .main-slider-content .navigator-content .button-previous,
    .lof-slidecontent .navigator-content .button-control,
    .main-slider-content .navigator-content .button-control {
      opacity: 1;
      bottom: 0px;
      left: 0px;
      z-index: 199;
    }
    .lof-slidecontent .navigator-content .button-next,
    .main-slider-content .navigator-content .button-next {
      left: 682px;
    }
    .lof-slidecontent .navigator-wrap-inner,
    .main-slider-content .navigator-wrap-inner {
      display: none;
    }
    .lof-slidecontent .navigator-wrapper,
    .main-slider-content .navigator-wrapper {
      width: 712px;
    }
    /* FILTERED ITEMS TABLET ----------------------------------------------------*/
    #filter-container {
      width: 732px;
      /* 712 + 20 gap */

    }
    #filter-container figure {
      width: 223px;
      margin-right: 20px;
    }

  /*		Mobile Layout: 320px.
  		Gutters: 24px.
  		Outer margins: 34px.
  		Inherits styles from: Default Layout.
  ---------------------------------------------
  cols    1     2      3
  px      68    160    252    */

 /*!!!!!!!!!!!!!!!!!!!!!!!!!!제일 두번째로 작은 화면(세번째로 큰화면)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media  screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 436px;
  }
  /* LOGO WIDE MOBILE ----------------------------------------------------*/
  #logo a {
    display: block ;
    width: 436px;
  }
  /* NAV WIDE MOBILE ----------------------------------------------------*/
  #nav {
    display: none;
  }
  #comboNav {
    display: block;
  }
  /* SLIDER WIDE MOBILE ----------------------------------------------------*/.lof-slidecontent,
  .main-slider-content {
    width: 436px;
    height: 367px;
  }
  .lof-slidecontent .sliders-wrapper,
  .main-slider-content .sliders-wrapper {
    width: 436px;
  }
  .sliders-wrap-inner li img{width: 500px; height: 360px;}
  .lof-slidecontent .navigator-content .button-next,
  .main-slider-content .navigator-content .button-next,
  .lof-slidecontent .navigator-content .button-previous,
  .main-slider-content .navigator-content .button-previous,
  .lof-slidecontent .navigator-content .button-control,
  .main-slider-content .navigator-content .button-control {
    opacity: 1;
    bottom: 0px;
    left: 0px;
    z-index: 199;
  }
  .lof-slidecontent .navigator-content .button-next,
  .main-slider-content .navigator-content .button-next {
    left: 406px;
  }
  .lof-slidecontent .navigator-wrap-inner,
  .main-slider-content .navigator-wrap-inner {
    display: none;
  }
  .lof-slidecontent .navigator-wrapper,
  .main-slider-content .navigator-wrapper {
    width: 436px;
  }
  .sliders-wrap-inner li img
	{top: 0px;
	left: 0px;
	width: 450px;
  height: 69%;
	}
  .lof-slidecontent .slider-description,
  .main-slider-content .slider-description {
    top: 0px;
    left: 0px;
    width: 450px;
    height: 100%;
  }
  /* FILTERED ITEMS WIDE MOBILE ----------------------------------------------------*/
  #filter-container {
    width: 460px;
  }
  #filter-container figure {
    width: 206px;
    margin-right: 24px;
    float: left;
  }
}

  /* PORTFOLIO WIDE MOBILE ----------------------------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!제일 작은 화면!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

  @media only screen and (max-width: 767px) {
    .wrapper {
      width: 252px;
    }
    /* LOGO MOBILE ----------------------------------------------------*/#logo {
      margin-left: 0px;
    }
    #logo a {
      display: block ;
      width: 252px;
    }
    #logo img {
      display: block;
      margin: 0 auto;
    }
    /* NAV MOBILE ----------------------------------------------------*/#nav {
      display: none;
    }
    #comboNav {
      display: block;
    }
    /* HEADLINE MOBILE ----------------------------------------------------*/#headline {
      font-size: 36px;
    }
    /* CAROUSEL MOBILE ----------------------------------------------------*/#ch-holder {
      display: none;
    }
    #cv-holder {
      display: block;
    }
    .carousel-holder .carousel-heading span {
      margin: 0px 0px 22px 0px;
    }
    /* SLIDER MOBILE ----------------------------------------------------*/.lof-slidecontent,
    .main-slider-content {
      width: 252px;
      height: 367px;
    }
    .lof-slidecontent .sliders-wrapper,
    .main-slider-content .sliders-wrapper {
      width: 252px;
    }
    .lof-slidecontent .navigator-content .button-next,
    .main-slider-content .navigator-content .button-next,
    .lof-slidecontent .navigator-content .button-previous,
    .main-slider-content .navigator-content .button-previous,
    .lof-slidecontent .navigator-content .button-control,
    .main-slider-content .navigator-content .button-control {
      opacity: 1;
      bottom: 0px;
      left: 0px;
      z-index: 199;
    }
    .lof-slidecontent .navigator-content .button-next,
    .main-slider-content .navigator-content .button-next {
      left: 222px;
    }
    .lof-slidecontent .navigator-wrap-inner,
    .main-slider-content .navigator-wrap-inner {
      display: none;
    }
    .lof-slidecontent .navigator-wrapper,
    .main-slider-content .navigator-wrapper {
      width: 252px;
    }
    .lof-slidecontent .slider-description,
    .main-slider-content .slider-description {
      top: 0px;
      left: 0px;
      width: 232px;
      height: 100%;
    }
    /* Description MOBILE ----------------------------------------------------*/.main-slider-content:hover .slider-description {
      opacity: 1;
    }
    /* FILTERED ITEMS MOBILE ----------------------------------------------------*/#filter-container {
      width: 252px;
      /* 712 + 20 gap */

    }
    #filter-container figure {
      width: 252px;
      margin-right: 0px;
    }
    #filter-container figure figcaption .heading {
      font-size: 28px;
    }
    /*  PAGE MOBILE ----------------------------------------------------*/#page-content-sb {
      width: 252px;
      margin-right: 0px;
    }
    /*  BLOG MOBILE ----------------------------------------------------*/#posts-list,
    body.single #posts-list {
      width: 252px;
      margin-right: 0px;
      margin-left: 0px;
      /* Jplayer MOBILE ----------------------------------------------------*/
      /* ENDS Jplayer MOBILE ----------------------------------------------------*/
    }
  }
