/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* Colors and backgrounds  ----------------------------------------------------*/body {
  color: #656360;
  background: #f1ede8 url(../img/noise-all.png);
}
body a:hover {
  color: #cb5432;
}
a {
  color: #cb5432;
}
header,
footer {
	background: rgb(45, 45, 45);  display: block;
	vertical-align: baseline;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	font: inherit;}
/* Selection colours (easy to forget) */
::selection {
  background: #cb5432;
}
::-moz-selection {
  background: #cb5432;
}
img::selection {
  background: #cb5432;
}
img::-moz-selection {
  background: #cb5432;
}
body {
  -webkit-tap-highlight-color: #cb5432;
	 background: url(../img/noise-all.png) rgb(241, 237, 232);
	 font-family: Helvetica, Arial, sans-serif;
	 font-size: 13px; line-height: 1;
	 vertical-align: baseline;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	font: inherit;}
#headline,
.masthead {
  color: #444444;
}
#main {
  min-height: 500px;
  padding-top: 40px;
   /*height: 2400px;*/

/*
    background-image: url(../img/main-bg.png), url(../img/main-bg.png);
    background-repeat: repeat-x, repeat-x;
    background-position: bottom left, top left;*/
    }
body.home #main {
  padding-top: 120px;
}
#filter-buttons {
  text-align: center;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
#filter-buttons li {
  display: inline-block;
  margin-bottom: 0px;
}
#filter-buttons li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 0px;
  color: #444;
}
#filter-buttons li a:hover,
#filter-buttons li a.selected {
  border-bottom: 2px solid #cb5432;
}
#filter-container {
  width: 965px;
  margin-bottom: 60px;
  /* Fixes shadow and margin right */
    margin-bottom: 360px;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: -5px;
}
#filter-container figure {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#filter-container figure .thumb {
  display: block;
  width: 100%;
  line-height: 0em;
  border-bottom: 2px solid #ccc;
  background-color: #cb5432;
}
#filter-container figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#filter-container figure figcaption {
  margin: 18px 10px 20px 10px;
  text-align: center;
}
#filter-container figure figcaption .heading {
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2em;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color:
}
#filter-container figure figcaption .heading {
  color: #444444;
}
#filter-container figure figcaption .heading:hover {
  color: #cb5432;}
#filter-container figure .thumb:hover img {
  opacity: 0.2;
}
[class^="print"]{left: 328px;}
[class^="design"]{left: 645px;}

#comboNav {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  float: left;
}
#comboNav {
  display: none;
}
